# global configuration
[global]

#[MailMover]
#folders = INBOX Junk
#max_age = 15

##rules
#INBOX = 'tag:spam':Junk 'NOT tag:inbox':Archive
#Junk = 'NOT tag:spam and tag:inbox':INBOX 'NOT tag:spam':Archive

# This is the default filter chain
#[SpamFilter]
#[KillThreadsFilter]
#[ListMailsFilter]
#[ArchiveSentMailsFilter]
#[InboxFilter]

# Let's say you like the SpamFilter, but it is way too polite

# 1. create an filter object and customize it
#[SpamFilter.0] # note the index
#message = meh

# 2. create a new type and...
#[ShitFilter(SpamFilter)]
#message = I hatez teh spam!

#    create an object or two...
#[ShitFilter.0]
#[ShitFilter.1]
#message = Me hatez it too.

# 3. drop a custom filter type in ~/.config/afew/
#[MyCustomFilter]


# To create a custom generic filter, define it inline with
# your above filter chain. E.g.:

# ...
# [ListMailsFilter]
#
# [Filter.1]
# query = from:boss@office.com
# tags = +office
#
# [ArchiveSentMailsFilter]
# ...
